/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #1d1f23;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#mainsimge{
   width: 70px;
    
    margin-left: 18vw;

    
}

.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}


    html{
        font-size: 62.5%;
    }

    .navbars{
        font-family: var(--font-family);
        font-size: var(--font-size-sm);
        color: var(--light-color-alt);
        background-color: var(--primary-background-color);
        letter-spacing: 1px;
        transition: background-color .25s,color .25s;
    } 
 

.navbar-nav{
    align-items:flex-end;
    gap: var(--gap);  
    margin-left: 35vw;
}



#navbarNav{
    margin-right: 10vw;
}

.nav-item{
    margin: 1vw;
}

@media screen and (max-width:775px){

    .navbar-nav{
        margin-top: 25px;
        margin-left: 0px;
    }

    .nav-item{
        
        width: 100vw;
    }

    .raise:hover, .raise:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
          border-color: var(--hover);
        color: #fff;
      }
      
      .raise {
          --color: #606dff;
        --hover: #e5ff60;
          color: var(--color);
        transition: 0.25s;
        background: none;
        border: 1px solid;
        font: inherit;
        line-height: 1;
        padding: 8px;
        padding-right: 100vw;
        
      }
    


}

@media screen and (min-width:775px) {

    .raise{
        color: white;
        position: relative;
        text-decoration: none;
        padding-bottom: 5px;
      }

      .raise:hover{
        color: white;
      }
      
      .raise::before {
        content: '';
        position: absolute;
        
        width: 100%;
        height: 2px;
        background: linear-gradient(to bottom right, rgb(163, 163, 163) , rgb(50, 50, 50)); 
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      .raise:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    
}



